body {
  width: 100vw;
  height: 100vh;
  #root {
    width: 100%;
    height: 100%;
    .embed-wrapper {
      width: 100%;
      height: 100%;
      .nico-player-outer {
        width: 100%;
        height: 100%;
        position: relative;

        #nico-player {
          width: 100%;
          height: 100%;
        }

        #comment-layer {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          touch-action: none;
          pointer-events: none;
        }

        .comment-layer-hide {
          opacity: 0;
        }
      }
    }
  }
}
